
/*Header Part*/
header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    z-index: 100;
    background-color: white;

   
}

.container{
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: space-between;
   
     
}
/*Left Proterties of Header*/
.left-side{
   
    width: 190px;
    margin-left: 100px;
    font-size: 25px;
    font-family:  Arial, Helvetica, sans-serif;
    cursor: pointer;
    
}









/*Right Properties of Header*/

.right-side{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
width: 500px;
margin-right: 200px;
font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;



    
}

.right-part:hover{
   background-color: black;
   color: white;
  
}
.right-part:hover .about-part{
    padding-left: 10px;
    padding-right: 10px;
}
.right-part:hover .experience-part{
    padding-left: 10px ;
    padding-right: 10px;
}
.right-part:hover .projects-part{
    padding-left: 10px;
    padding-right: 10px;
}
.right-part:hover .contacts-part{
    padding-right: 10px;
    padding-left: 10px;
}





