<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
     <link rel="stylesheet" href="../css/header.css">
     <link rel="stylesheet" href="../css/profile.css">
     <link rel="stylesheet" href="../css/body.css">
    
</head>
<body>
   <div class="body-container">
    <header>

      <div class="container">
<!-- Left Part of the Header -->
<div class="left-side">
   <div class="left-part">
     <p>John Paul Colita</p>

   
   </div>
</div>

    <!-- Right Part Of The Header -->
    <div class="right-side">

        <div class="right-part">
       <p class="about-part">About</p>
        </div>

        <div class="right-part">
          <p class="experience-part">Experience</p>
          </div>

          <div class="right-part">
              <p class="projects-part">Projects</p>
              </div>

              <div class="right-part">
                  <p class="contacts-part">Contacts</p>
                  </div>
                  
    </div>

      </div>





   </header>

<!-- Profile Part -->
<div class="profile-container">

 <!-- Img part of Profile Container -->
 <div class="img-container">
   <img src="../img/john.jpg" class="img-jp">
 </div>
   

 <!-- Info Part of Profile Container -->
 <div class="info-container">
      <p class="p-1">Hello, l'm</p>
      <p class="p-2">John Paul </p>
      <p class="p-3">Frontend Developer</p>

      <div class="button-container">
        <button class="button-cv">Download CV</button>
        <button class="button-contact">Contact Info</button>

      </div>
      <div class="link-container">
        
         <button class="button-logo"><img src="../img/fb.png" class="fb-logo"></button>
         <button class="button-logo">
          <a href="https://github.com/Johnpaulcolits">
            <img src="../img/GitHub-logo.png" class="git-logo">
          </a></button>
      </div>
 </div>

</div>

   </div>

    
</body>
</html>